@import "tailwindcss";
html,
@font-face {
    font-family: 'Inter';
    src: url('./Assets/Fonts/Inter.ttf');
}


body {
    font-family: sans-serif;
    @apply bg-gradient-to-t from-slate-950 to-slate-800 w-full
}

.active {
    @apply bg-slate-900 text-white py-2
}