@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('./Assets/Fonts/Inter.ttf');
}


body {
    font-family: 'Inter';
    @apply bg-gradient-to-t from-zinc-950 to-zinc-800 w-full overflow-x-hidden
}

.active {
    @apply bg-gradient-to-r from-[#111] to-[#000] text-white py-2
}
.PersonShadow{
    box-shadow: inset 1px 1px 10px 1px #000;
}
.PersonShadow:hover{
    box-shadow: 0 10px 15px -3px #563232 , inset 1px 1px 10px 1px #A92525;
}